@tailwind base;
@tailwind components;
@tailwind utilities;

/* Universal Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Set base styles */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@font-face {
  font-family: "Adam Bold";
  src: url("/assets/fonts/Adam-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Corbert";
  src: url("/assets/fonts/Corbert-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Typography */
h2 {
  @apply font-primary;
  text-transform: uppercase;
}

label,
p,
input,
span {
  @apply font-secondary;
}

.button-shadow {
  @apply shadow-dark-shadow dark:shadow-white-shadow hover:shadow-hover-dark-shadow dark:hover:shadow-hover-white-shadow;
}
